@import 'tailwindcss';

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.15 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.15 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.15 0 0);
  --primary: oklch(0.2 0 0);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.95 0 0);
  --secondary-foreground: oklch(0.2 0 0);
  --muted: oklch(0.95 0 0);
  --muted-foreground: oklch(0.46 0 0);
  --accent: oklch(0.95 0 0);
  --accent-foreground: oklch(0.2 0 0);
  --destructive: oklch(0.6 0.2 25);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.9 0 0);
  --input: oklch(0.9 0 0);
  --ring: oklch(0.15 0 0);
  --radius: 0.6rem;
  --sidebar: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.26 0 0);
  --sidebar-primary: oklch(0.2 0 0);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.95 0 0);
  --sidebar-accent-foreground: oklch(0.2 0 0);
  --sidebar-border: oklch(0.91 0 0);
  --sidebar-ring: oklch(0.6 0.2 240);

  /* Rose Pine Dawn  */
  --base: oklch(0.97 0.02 80);
  --surface: oklch(0.99 0.02 80);
  --overlay: oklch(0.94 0.03 60);
  --rp-muted: oklch(0.65 0.03 300);
  --subtle: oklch(0.55 0.05 290);
  --text: oklch(0.45 0.06 290);
  --love: oklch(0.65 0.12 10);
  --gold: oklch(0.75 0.15 60);
  --rose: oklch(0.75 0.12 20);
  --pine: oklch(0.55 0.1 210);
  --foam: oklch(0.65 0.1 200);
  --iris: oklch(0.65 0.1 300);
  --highlight-low: oklch(0.95 0.02 80);
  --highlight-med: oklch(0.9 0.02 60);
  --highlight-high: oklch(0.85 0.02 300);

}

@theme inline {
  /* --color-background: var(--background); */
  --color-background: var(--color-base);
  /* --color-foreground: var(--foreground); */
  --color-foreground: var(--color-text);
  /* --color-card: var(--card); */
  --color-card: var(--color-surface);
  /* --color-card-foreground: var(--card-foreground); */
  --color-card-foreground: var(--color-text);
  /* --color-popover: var(--popover); */
  --color-popover: var(--color-surface);
  /* --color-popover-foreground: var(--popover-foreground); */
  --color-popover-foreground: var(--color-text);
  /* --color-primary: var(--primary); */
  --color-primary: var(--color-pine);
  /* --color-primary-foreground: var(--primary-foreground); */
  --color-primary-foreground: var(--color-surface);
  /* --color-secondary: var(--secondary); */
  --color-secondary: var(--color-iris);
  /* --color-secondary-foreground: var(--secondary-foreground); */
  --color-secondary-foreground: var(--color-surface);
  /* --color-muted: var(--muted); */
  --color-muted: var(--color-rp-muted);
  /* --color-muted-foreground: var(--muted-foreground); */
  --color-muted-foreground: var(--color-subtle);
  /* --color-accent: var(--accent); */
  --color-accent: var(--color-gold);
  /* --color-accent-foreground: var(--accent-foreground); */
  --color-accent-foreground: var(--color-surface);
  /* --color-destructive: var(--destructive); */
  --color-destructive: var(--color-love);
  /* --color-destructive-foreground: var(--destructive-foreground); */
  --color-destructive-foreground: var(--color-surface);
  /* --color-border: var(--border); */
  --color-border: var(--color-overlay);
  /* --color-input: var(--input); */
  --color-input: var(--color-overlay);
  /* --color-ring: var(--ring); */
  --color-ring: var(--color-iris);
  
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: var(--color-base);
  --color-sidebar-border: var(--color-base);
  --color-sidebar-accent-foreground: var(--color-surface);
  --color-sidebar-accent: var(--color-gold);
  --color-sidebar-primary-foreground: var(--color-surface);
  --color-sidebar-primary: var(--color-pine);
  --color-sidebar-foreground: var(--color-text);
  --color-sidebar-ring: var(--color-iris);
  
  /* Rose Pine Dawn */
  --color-base: var(--base);
  --color-surface: var(--surface);
  --color-overlay: var(--overlay);
  --color-rp-muted: var(--rp-muted);
  --color-subtle: var(--subtle);
  --color-text: var(--text);
  --color-love: var(--love);
  --color-gold: var(--gold);
  --color-rose: var(--rose);
  --color-pine: var(--pine);
  --color-foam: var(--foam);
  --color-iris: var(--iris);
  --color-highlight-low: var(--highlight-low);
  --color-highlight-med: var(--highlight-med);
  --color-highlight-high: var(--highlight-high);
}